<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="CaPres or Cari Pilihan Restaurant
            is a web application to find cool
            restaurant information that has
            been recommended by us and other people.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#db0000" />
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" type="image/png" href="./images/assets/faviconBrand.jpg" />
  <link rel="apple-touch-icon" href="/images/assets/icons/icon-192x192.png">
  <title>Capres - Cari Pilihan Restoran</title>
</head>

<body>
  <menuju-konten></menuju-konten>
  <header>
    <my-logo></my-logo>
    <my-hamburger></my-hamburger>
    <my-navbar></my-navbar>
  </header>

  <main id="maincontent">

  </main>

  <my-footer></my-footer>
</body>

</html>